<DOCTYPE! html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>My Sweet MadLib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.7.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>@Model.GetPersonOne() and @Model.GetPersonTwo() in the @Model.GetObject() of Infinite Knowledge</h1>
    <p>The clouds in the sky were dark and forboding as @Model.GetPersonOne() and @Model.GetPersonTwo() approached Hagarth the Grey's @Model.GetPlaceOne(), but the night seemed fortuitous. Easily discovering the Tomb of the Red Herring. Alas! Inside was the @Model.GetObject() of Infinite Knowledge was inside, but was surrounded by Hargarth's sentient and deadly troupe of @Model.GetAnimal(). "@Model.GetExclamation()" shrieked @Model.GetPersonTwo. The duo quickly regained their composure, and then used the power of @Model.GetActivity() to fight off the troupe. With the evil defeated, they retrieved the @Model.GetObject() of Infinite Knowledge and continued on to @Model.GetPlaceTwo()- satisfied with their victory but knowing that battle was not ober yet.</p>
  </body>
</html>
